body {
  background: #ff6600;
}

/*
  ============================================
  Styles
  ============================================
*/

.row {
  background-color: #fff;
  color: #666666;
  font-size: 28px;
  margin-top: 1%;
  margin-left: 1%;
  width: 100%;
  padding: 5%;
}
.row h1 {
  margin-left: 2%;
  color: blue;
}

/*
  ========================================
  Navbar
  ========================================
*/

.over:hover {
  color: #000;
}
.title {
  margin-bottom: 0;
}
.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.nav-placeholder {
		margin-bottom: 10%;
}
a {
	padding-left: 15px;
	font-size: 25px;
  color: #fff;
}
a:hover {
  color: #0099ff;
}
.top-bar {
	background: #1a1a1a;
}
.top-bar h1 {
	color: #fff;
}
.top-bar-right li  {
	display: inline-block;
	background: #1a1a1a;
}

/*
  ============================================
  Landing
  ============================================
*/

.landing {
  background-image: url(../images/Web-Design-Vancouver-BC.png);
  background-size: cover;
  height: 100%;
}
.landing-text {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 30px;
  font-weight: 600;
  color: #ff3333;
}

/*
  ============================================
  Examples
  ============================================
*/

.row .large-4 {
  width: 29.333333%;
}
.large-4 .images {
  background: #666666;
  padding: 5%;
}

.container div {
  display: none;
}
